@import "./../node_modules/jsoneditor/dist/jsoneditor.min.css";
@import "./../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre&display=swap');

*{
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Averia Sans Libre', cursive;
}
.menu{
  position: absolute;
  top:50%;
  left: 0;
  transform: translateY(-50%);
}
.title{
  padding: 10px;
}
.container_c{
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  flex: 1 1;
  flex-direction: column;
  padding: 10px;
}
.row_c{
  width: 100%;
  height: 80vh;
  flex: 1 1;
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
  margin: 3px;
}
.editors{
  width: 100%;
  flex : 1 1;
  overflow-y: auto;
}
.controls{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.title{
  text-align: center;
}

.btn_c{
  margin: 8px;
  border-radius: 3px;
  background-color: wheat;
  color: brow_cn;
  border: 1px solid transparent;
  padding: 8px;
  cursor: pointer;
}
.btn_c:active{
  opacity: 0.5;
}
.accordion{
  width: 100%;
  margin: 0 8px;
}

.active{
  background-color: tomato;
  color: aliceblue;
}
.side-menu-background{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.479);
  z-index: 5;
  transition: opacity 0.3s;
}
.hide-side-menu-back{
  opacity: 0;
  z-index: -1;
}
.sidemenu{
  /* min-width: 250px; */
  width: 450px ;
  max-width: 80vw;
  position: absolute;
  background-color: whitesmoke;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 6;
  transform: translateX(0px);
  transition: 0.3s;

}
.hide-menu{
  transform: translateX(-650px);
}
h2 > button {
  text-align: center;
}
.card_c{
  width: 100%;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}
.row_block {
  display: block;
}
.table_key{
  width: 150px;
}
.table_value{
  min-width: 150px;
}
.table_delete{
  width: 50px;
}

.action{
  display: flex;
  align-content: center;
  justify-content: center;
}

#req_body{
  max-height: 250px;
  margin: 0;
  padding: 0;
}

#res_json{
  max-width: 100%;
  max-height: 300px;
  overflow: auto;
}
#multiple{
  padding: 0;
  margin: 0;
}
.modal-body{
  position: relative;
}
.disabled_api{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 998;
  user-select: none;
  cursor: not-allowed;
  
}
.disabled_api > img{
  cursor: not-allowed;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(-45deg);
  z-index: 999;
  user-select: none;
}